<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <link rel="stylesheet" href="../static/styles/form.css" th:href="@{/styles/form.css}"/>
    <link rel="stylesheet" href="../static/styles/page-container.css" th:href="@{/styles/page-container.css}"/>
</head>
<body>
    <div class="page-container">
        <section class="section-container">
            
            <table>
                <tr>
                    <th>Pokedex number</th>
                    <th>Name</th>
                    <th>Speed</th>
                    <th>Special defence</th>
                    <th>Special attack</th>
                    <th>Defence</th>
                    <th>Attack</th>
                    <th>HP</th>
                    <th>Primary type</th>
                    <th>Secondary type</th>
                    <th>Delete</th>
                </tr>

                <tr th:each="pokemon: ${pokemon}">
                    <td> <img th:src="@{'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + ${pokemon.pokedexNumber} + '.png'}" alt="pokemon image"> </td>
                    <td th:text="${pokemon.pokedexNumber}">1</td>
                    <td th:text="${pokemon.name}">Pokemon</td>
                    <td th:text="${pokemon.speed}">50</td>
                    <td th:text="${pokemon.specialDefence}">60</td>
                    <td th:text="${pokemon.specialAttack}">80</td>
                    <td th:text="${pokemon.defence}">30</td>
                    <td th:text="${pokemon.attack}">55</td>
                    <td th:text="${pokemon.hp}">120</td>
                    <td th:text="${pokemon.primaryType}">Grass</td>
                    <td th:text="${pokemon.secondaryType}">Ghost</td>
                    <td>
                        <a class="button delete-button" th:href="@{'/delete/' + ${pokemon.pokedexNumber}}">Delete</a>
                    </td>
                    <td>
                        <a class="button update-button" th:href="@{'/update/' + ${pokemon.pokedexNumber}}">Edit</a>
                    </td>
                </tr>

            </table>
            <!--
            <form class="form-container" action="/all-pokemon" method="POST">
                <label for="pokedexNumber">Pokedex Number</label>
                    <input id="pokedexNumber" type="number" name="pokedexNumber">

                    <button type="submit">Submit</button>
            </form>
            -->
             <a class="button add-button" href="/addNewPokemon">Add Pokemon</a></button>
    </section>
</div>
</body>
</html>