<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <link rel="stylesheet" href="../static/styles/file-name-here.css" th:href="@{/styles/file-name-here.css}"/>
</head>
<body>
<h1> List of Pokemon</h1>
<table>
    <tr>
        <th>Pokedex number</th>
        <th>Name</th>
        <th>Speed</th>
        <th>Special defence</th>
        <th>Special attack</th>
        <th>Defence</th>
        <th>Attack</th>
        <th>HP</th>
        <th>Primary type</th>
        <th>Secondary type</th>
    </tr>

    <tr th:each="pokemon: ${pokemon}">
        <td th:text="${pokemon.pokedexNumber}"></td>
        <td th:text="${pokemon.name}"></td>
        <td th:text="${pokemon.speed}"></td>
        <td th:text="${pokemon.specialDefence}"></td>
        <td th:text="${pokemon.specialAttack}"></td>
        <td th:text="${pokemon.defence}"></td>
        <td th:text="${pokemon.attack}"></td>
        <td th:text="${pokemon.hp}"></td>
        <td th:text="${pokemon.primaryType}"></td>
        <td th:text="${pokemon.secondaryType}"></td>


        <!--
            Kan ikke få til at virke
         <td>
             <form th:action="/allPokemon/{id}" th:object="${pokemon}" method="delete">
                 <input type="hidden" th:field="*{pokemon}">Delete</input>
                 <button type="submit" >Click here</button>
             </form>
         </td> -->

    </tr>

</table>

</body>
</html>