<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <link rel="stylesheet" href="../static/styles/file-name-here.css" th:href="@{/styles/file-name-here.css}"/>
</head>
<body>

<h1>Deletion was successfull!</h1>
<table>
    <tr>
        <th>Pokedex number</th>
        <th>Name</th>
        <th>Speed</th>
        <th>Special defence</th>
        <th>Special attack</th>
        <th>Defence</th>
        <th>Attack</th>
        <th>HP</th>
        <th>Primary type</th>
        <th>Secondary type</th>
    </tr>

    <tr th:each="pokemon: ${pokemon}">
        <td th:text="${pokemon.pokedexNumber}">1</td>
        <td th:text="${pokemon.name}">Pokemon</td>
        <td th:text="${pokemon.speed}">50</td>
        <td th:text="${pokemon.specialDefence}">60</td>
        <td th:text="${pokemon.specialAttack}">80</td>
        <td th:text="${pokemon.defence}">30</td>
        <td th:text="${pokemon.attack}">55</td>
        <td th:text="${pokemon.hp}">120</td>
        <td th:text="${pokemon.primaryType}">Grass</td>
        <td th:text="${pokemon.secondaryType}">Ghost</td>
    </tr>
</table>

</body>
</html>